<body class="login_bg">
  <% if resource.errors.any? %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
  <div class="login-container">
    <div class="screen">
      <div class="screen__content">
        <div class="image-box">
          <%= image_tag "logo2.png", class:"logo" %>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login"}) do |f| %>

          <div class="login__field">
            <i class="login__icon bi bi-person-fill"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login__input", placeholder:"Email Address" %>
          </div>

          <div class="login__field">
            <i class="login__icon bi bi-shield-lock-fill"></i>
            <%= f.password_field :password, autocomplete: "new-password", class:"login__input", placeholder:"Password" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />          
          </div>

          <div class="login__field">
            <i class="login__icon bi bi-shield-lock-fill"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"login__input", placeholder:"Password Confirmation" %>
          </div>

          <div class="login__submit">
            <%= f.submit "SIGN UP", class:"button__text" %>
            <i class="button__icon bi bi-chevron-right"></i>
          </div>
        <% end %>
        <div class="social-login">
          <p>Already have an account? <%= render "devise/shared/links" %></p>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</body>
