<p id="notice"><%= notice %></p>

<h1>Tasks Due Today</h1>

<div class="row">
  <% @due.each do |task| %>
    <div class="col-sm-13">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <br/>
          
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="icon-x bi-journal-check"></i>
            <%= task.category.name %>
          </h6>

          <h6 class="card-subtitle mb-2 text-muted">
            <i class="icon-x bi-clock-fill"></i>
            <%= task.date.strftime('%b %e, %Y') %>
          </h6>
          
          <% if task.completed == true %>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="icon-x bi-check-lg"></i>
              Completed
            </h6>
          <% else %>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="icon-x bi-caret-right"></i>
              Not Yet Completed
            </h6>           
          <% end %>

          <div class="rud">
            <i class="show-icon bi-eye-fill"></i>
            <%= link_to 'Show', category_task_path(task.category_id, task), class:"show-icon" %>

            <i class="edit-icon bi-pencil-square"></i>
            <%= link_to 'Edit', edit_category_task_path(task.category_id, task), class:"edit-icon" %> 

            <i class="delete-icon bi-trash-fill"></i>
            <%= link_to 'Delete', category_task_path(task.category_id, task), method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-icon" %>
          </div>
        </div
      </div>      
    </div>
  <% end %>
</div>

