<body class="login_bg">
  <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="login-container">
    <div class="screen">
      <div class="screen__content">
        <div class="image-box">
          <%= image_tag "logo2.png", class:"logo" %>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login"}) do |f| %>
          <div class="login__field">
            <i class="login__icon bi bi-person-fill"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login__input", placeholder:"Email Address" %>
          </div>
          <div class="login__field">
            <i class="login__icon bi bi-shield-lock-fill"></i>
            <%= f.password_field :password, autocomplete: "current-password", class:"login__input", placeholder:"Password" %>
          </div>
          <div class="login__submit">
            <%= f.submit "LOG IN NOW", class:"button__text" %>
            <i class="button__icon bi bi-chevron-right"></i>
          </div>				
        <% end %>
        <div class="social-login">
          <p>Don't have an account yet? <%= render "devise/shared/links" %></p>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</body>