<div class="row">
  <div class="col-sm-13">
    <div class="card">
      <div class="card-body-categ">
        <h5 class="card-title"><%= @category.name %></h5>
        <div class="new-task">
          <i class="edit-icon bi-plus-square"></i>
          <%= link_to 'Add New Task', new_category_task_path(@category), class:"edit-icon" %> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @category.tasks.each do |task| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @category.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Task: 0</h6>
          <p class="card-text">Started 1day ago</p>

          <div class="rud">
            <i class="show-icon bi-eye-fill"></i>
            <%= link_to 'Show', category_task_path(@category, task), class:"show-icon" %>

            <i class="edit-icon bi-pencil-square"></i>
            <%= link_to 'Edit', edit_category_task_path(@category, task), class:"edit-icon" %> 

            <i class="delete-icon bi-trash-fill"></i>
            <%= link_to 'Delete', category_task_path(@category, task), method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-icon" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

